<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <div class="space"></div>
    <a class="navbar-brand">
      <h1>Biblioteca - EMEF Villagio Ghiraldelli</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Opções de Navegação</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body" id="cad-height">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/" target="_blank">
              <i class="bi bi-house-door"></i>
              Ir para o Início
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="cadastro">
              <i class="bi bi-search"></i>
              Voltar aos Cadastros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="alterar">
              <i class="bi bi-file-earmark-arrow-down"></i>
              Alterar / Remover
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">
              <i class="bi bi-person-circle"></i>
              Logout(Sair)
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header>
  <div class="text-header-cad">
    <h3>Alterar/Remover Exemplar</h3>
  </div>
</header>

<main>
  <section class="img-books">
    <img src="../imagens/image2.jpg" alt="livros">
  </section>
  <section class="text-cadastro">
    <div>
      <div class="registers">
        <div class="registers-cads">
          <form id="register" action="/cad-exemplar" method="POST" enctype="multipart/form-data">
            <div class="width-campo">
              <p>Data do Cadastro</p>
              <input type="date" name="data">
              <p>Código</p>
              <input type="text" placeholder="Código do Livro" name="codexemplar">
              <p>Prateleira</p>
              <input type="text" placeholder="Nome Prateleira" name="prateleira">
            </div>
            <div id="register-nome">
              <p>Nome</p>
              <input type="text" placeholder="Nome do Livro" name="titulo">
            </div>
            <div>
              <p>Autores</p>
              <input type="text" placeholder="Nome do Autor 1" name="autor1">
              <input type="text" placeholder="Nome do Autor 2" name="autor2">
              <input type="text" placeholder="Nome do Autor 3" name="autor3">
            </div>
            <div class="width-campo">
              <p>Editora</p>
              <input type="text" placeholder="Nome da Editora" name="editora">
              <p>Edição</p>
              <input type="text" placeholder="Número da Edição" name="edicao">
              <p>Publicação</p>
              <input type="text" placeholder="Ano da Publicação" name="publicacao">
            </div>
            <div class="width-campo">
              <p>Gênero</p>
              <input type="text" placeholder="Gênero do livro" name="genero">
              <p>ISBN</p>
              <input type="text" placeholder="Código ISBN" name="isbn">
              <p>Status</p>
              <select id="status" name="status">
                <option value="Disponível" selected>Disponível</option>
                <option value="Indisponível">Indisponível</option>
              </select>
            </div>
            <div id="register-obs">
              <p>Observações</p>
              <input type="text" placeholder="Digite as observações" name="obs">
            </div>
            <div class="upload-file">
              <p>Capa do Livro</p>
              <input type="file" name="imagem">
            </div>
            <div>
              <input class="btn btn-primary" type="submit" value="Alterar">
              <a class="btn btn-secondary" href="/alterar">Cancelar</a>
            </div>  
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <p>2024 - Projeto Integrador - Desenvolvido por alunos do Curso de TI da UNIVESP</p>
</footer>