<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <div class="space"></div>
    <a class="navbar-brand">
      <h1>Biblioteca - EMEF Villagio Ghiraldelli</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Opções de Navegação</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              <i class="bi bi-house-door"></i>
              Página Inicial
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobre">
              <i class="bi bi-columns-gap"></i>
              Sobre nós
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pesquisar">
              <i class="bi bi-search"></i>
              Pesquisar Livros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">
              <i class="bi bi-person-circle"></i>
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header>
  
</header>
<main>
  <section class="img-books">
    <img src="../imagens/image2.jpg" alt="livros">
  </section>
  <section class="text-home">
    <div>
      <p>Sejam bem-vindos!!!</p>
      <p>Nesta página você poderá:</p>
      <ul>
        <li>- Consultar informações sobre nós;</li>
        <li>- Pesquisar a disponibilidade de livros em nosso acervo; e</li>
        <li>- Se for nosso colaborador, fazer o login para a página de cadastros.</li>
        <li><i>(selecionar o botão no canto superior direito)</i></li>
        <li>========================================================</li>
        <li>Confira também leituras disponíveis nas bibliotecas virtuais gratuitas:</li>
        <li><a href="https://alfabetizacao.mec.gov.br/contapramim" target="_blank">MEC - Conta Pra Mim</a></li>
        <li><a href="https://www.euleioparaumacrianca.com.br/estante-digital/" target="_blank">Itaú - Estante Virtual</a></li>
        <li><a href="https://sites.google.com/educacao.quintana.sp.gov.br/biblioteca-virtual/literatura-infanto-juvenil" target="_blank">Educação Quintana</a></li>
      </ul>
    </div>
    <div id="img-door">
      <img src="../imagens/image1.jpg" alt="portal da escola">
    </div>
  </section>
</main>

<footer>
  <p>2024 - Projeto Integrador - Desenvolvido por alunos do Curso de TI da UNIVESP</p>
</footer>