<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <div class="space"></div>
    <a class="navbar-brand">
      <h1>Biblioteca - EMEF Villagio Ghiraldelli</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Opções de Navegação</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">
              <i class="bi bi-house-door"></i>
              Página Inicial
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobre">
              <i class="bi bi-columns-gap"></i>
              Sobre nós
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="pesquisar">
              <i class="bi bi-search"></i>
              Pesquisar Livros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">
              <i class="bi bi-person-circle"></i>
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header>
  <div class="text-header-cad">
    <h3>Pesquisar Livros</h3>
  </div>
</header>

<main>
  <section class="search-page">
    <section class="img-books">
      <img src="../imagens/image2.jpg" alt="livros">
    </section>

    <section class="text-search">
      <form class="search-label" action="/pesquisar-lista" method="POST" novalidate enctype="multipart/form-data">
        <input type="search" name="searchbar" id="searchbar" placeholder="Pesquisar Livros">
        <button class="btn btn-outline-light" type="submit"><i class="bi bi-search" id="search-icon"></i></button>
      </form>
      <h4>"Aprender a ler e depois ler para aprender!"</h4>
      {{!-- Listagem da Pesquisa --}}
      <div class="container">
        {{#if exemplar}}
          {{#each exemplar}}
            <div>
              <span class="container-legenda"><p>Título</p></span>
              <p name=titulo>{{titulo}}</p>           
            </div>
            <div>
              <span class="container-legenda"><p>Código</p></span>
              <p>{{codexemplar}}</p>
            </div>
            <div>
              <span class="container-legenda"><p>Status</p></span>
              <p>{{status}}</p>
            </div>
            <div class="img-lista">
              <img src="../imagens/{{imagem}}" alt="img da capa">
            </div>
          {{/each}}
        {{/if}}
      </div>
    </section>

    <section>
      <div id="right-img-search">
        <img src="../imagens/image3.jpg" alt="livros">
      </div>
    </section>
  </section>
</main>

<footer>
  <p>2024 - Projeto Integrador - Desenvolvido por alunos do Curso de TI da UNIVESP</p>
</footer>