<nav class="navbar bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <div class="space"></div>
    <a class="navbar-brand">
      <h1>Biblioteca - EMEF Villagio Ghiraldelli</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasNavbarLabel">Opções de Navegação</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">
              <i class="bi bi-house-door"></i>
              Página Inicial
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="sobre">
              <i class="bi bi-columns-gap"></i>
              Sobre nós
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="pesquisar">
              <i class="bi bi-search"></i>
              Pesquisar Livros
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login">
              <i class="bi bi-person-circle"></i>
              Login
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<header>
  
</header>

<main>
  <section class="img-books">
    <img src="../imagens/image2.jpg" alt="livros">
  </section>
  <section class="text-home">
    <div>
      <section class="text-about">
        <h3>Sobre nós</h3>
        <p>
          A Escola Municipal de Ensino Fundamental (E.M.E.F.) Villagio Ghiraldelli faz 
          parte da história de Hortolândia desde o ano de 2003. A unidade nasceu junto 
          com a comunidade na região Villagio Ghiraldelli e a necessidade de oferecer 
          vagas de educação. Por sua grande influência, a escola recebeu o nome da região
          e representou um grande avanço para os moradores do bairro. Atualmente a unidade
          escolar tem 388 alunos matriculados e conta com uma equipe de 36 profissionais, 
          entre eles gestores, professores e funcionários.
        </p>
        <p>
          Os principais projetos que a escola desenvolve são "Projeto Leitura", "Projetos
          Jogos Matemáticos", entre outros Projetos da Secretaria de Educação, Ciência e 
          Tecnologia.
        </p>
        <p>
          Texto publicado: <i>https://portaleducacao.hortolandia.sp.gov.br/index.php/emef-villagio-ghiraldelli</i>
        </p>

        <div class="contact">
          <tr>
            <td class="street">
              <p>
                <span class="icon"><i class="bi bi-geo-alt"></i></span>
                <span>Rua Gabriel Costa Camargo, nº 60, Villagio Ghiraldelli - Hortolândia/SP</span>
              </p>
            </td>
            <td class="phone">
              <p>
                <span class="icon"><i class="bi bi-telephone-inbound"></i></span>
              </p>
              <p>
                <span>(19)3845-7620 / (19)3845-7221</span>
              <p>
            </td>
            <td class="mail">
              <p>
                <span class="icon"><i class="bi bi-envelope-at"></i></span>
              </p>
              <p>
                <span>emefvillagio@hortolandia.sp.gov.br</span>
              </p>
            </td>
          </tr>
        </div>
      </section>
    </div>
  </section>
</main>

<footer>
  <p>2024 - Projeto Integrador - Desenvolvido por alunos do Curso de TI da UNIVESP</p>
</footer>